:root {
  /* Color palette */
  --form-bg-color: #57370da6;
  --primary-text-color: #d7ccc1;
  --secondary-text-color: #ffffff;
  --accent-text-color: #53881f;
  --button-color: #214054;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  
  background-image: url(../assets/925534.jpg);
  background-size: cover;
}

.signupForm {
  width: 50%;
  display: flex;
  flex-direction: column;

  background-color: var(--form-bg-color);
}

.signupForm-introduction {
  margin: 150px 30px 100px 30px;

  font-size: 2rem;
  font-weight: bold;
}

.signupForm-introduction em {
  font-style: italic;
  color: var(--accent-text-color);
}

.signupForm-form {
  margin: 0 30px 30px 30px;
}

.signupForm-callToAction {
  margin-bottom: 30px;

  font-size: 2rem;
  font-weight: bold;
}

.signupForm-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.signupForm-row {
  display: flex;
  flex: 1;
}

.signupForm-field {
  flex: 1;
}

.signupForm-field label {
  display: block;
  margin-bottom: 5px;

  font-family: "Open Sans", sans-serif;
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.signupForm-field input {
  width: 80%;
  padding: 10px;
  
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
}

.signupForm-finalize {
  margin: 75px 30px 30px 30px;
}

.signupForm-submitButton {
  width: 200px;
  padding: 15px;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--button-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px var(--primary-text-color);
  transition: all 0.3s ease 0s;
}

.signupForm-submitButton:hover {
  background-color: var(--accent-text-color);
  box-shadow: 0px 15px 20px var(--accent-text-color);
  transform: translateY(-7px);
}

.signupForm-createdAccount {
  margin-top: 30px;

  font-size: 1.2rem;
}

.signupForm-createdAccount a {
  text-decoration: none;
  color: var(--accent-text-color);
  font-weight: bold;
}

.logoSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logoSection-logo {
  transform: scale(0.8);
  filter: invert(71%) sepia(72%) saturate(246%) hue-rotate(335deg)
    brightness(103%) contrast(97%);
}

.logoSection-imageCredit {
  width: auto;
  padding: 8px;
  margin-bottom: 20px;

  background-color: var(--form-bg-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--primary-text-color);
  border-radius: 10px;
}
